<?xml version="1.0" encoding="ISO-8859-1"?>
	<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/j2ee/dtds/web-app_2_3.dtd'>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>helloappmysql</display-name>
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>mypack.DispatcherServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/dispatcher</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>init</servlet-name>
		<servlet-class>mypack.Init</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<taglib>
		<taglib-uri>/mytaglib</taglib-uri>
		<taglib-location>/WEB-INF/mytaglib.tld</taglib-location>
	</taglib>	


	<listener>
 		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
</web-app>
